name: flutter_hello_widget
description: "一个功能丰富的Flutter组件库，提供可定制的Hello系列UI组件，专注于无障碍访问和语义化标签支持。"
version: 0.1.0
homepage: https://github.com/qixin1106/flutter_hello_widget
repository: https://github.com/qixin1106/flutter_hello_widget
issue_tracker: https://github.com/qixin1106/flutter_hello_widget/issues
publish_to: https://pub.dartlang.org

environment:
  sdk: ^3.7.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
