name: flutter_hello_widget
description: "A feature-rich Flutter component library providing customizable Hello series UI components with focus on accessibility and semantic labeling support."
version: 0.1.2
homepage: https://github.com/legacy-jank-code/flutter_hello_widget
repository: https://github.com/legacy-jank-code/flutter_hello_widget
issue_tracker: https://github.com/legacy-jank-code/flutter_hello_widget/issues


environment:
  sdk: ^3.7.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
